body {
    background-image: url(./extras/game-background.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    /* padding: 100px 0; */
}


.scrol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 50%;
    position: relative;
    /* bottom:80px; */
    border-top: solid 1px rgb(189, 132, 28);
    border-bottom: solid 1px rgb(189, 132, 28);
}

marquee {
    color: white;
    -webkit-text-stroke: rgba(248, 55, 2, 0.678) 4px ;
    /* background-color: rgb(125,66,22); */
}

.container {
    position: sticky;
    /* bottom: 0; */
    /* top: -200px; */
    /* background-color: rgba(10, 10, 122, 0.761); */
    /* backdrop-filter:; */
    /* margin-top: -50px; */
    backdrop-filter: brightness(01);
    /* border: 1px solid rgba(255, 255, 255, 0.478) !important; */
    box-shadow: 0 0 1px 1px rgba(43, 0, 53);
}

.extras {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.fifty {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media all and (max-width:500px) */

/* div { */
    /* box-shadow: 0 0 1px 1px rgba(43, 0, 53, 0.597); */
    /* background-color: rgba(3, 3, 21, 0.581); */
    /* border: 1px solid rgba(43,0,53) !important; */
/* } */
.questions{
    /* border:solid 1px red; */
    width: 100%;
    /* background-color: white; */
}
#question{
    width: 100%;
    font-size: 2rem;
    /* background-color: rgba(0, 128, 0, 0.352); */
    display: flex;
    color: gold;
    background-image: radial-gradient(rgba(1, 148, 253, 0.386),rgb(0,11,64) );
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
    /* justify-content: center; */
    padding:  10px;
    border: groove 2px rgb(176,116,46);
    /* padding-bottom:30px ; */
     max-height: 240px;
}
.quest {
  width: 100%;
  font-family: cursive;
  height: 60%;
  /* border: solid red 1px; */
text-align: center;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
    color: gold
}

.optioncase{
background-color: red;
}
.option {
    color: whitesmoke;
    background-image: radial-gradient(rgb(1,150,253),rgb(0,11,64) );
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
     box-shadow:1px 1px 1px 1px rgb(176,116,46) ;
    border: groove 2px rgb(176,116,46);
    justify-content: center;
text-align: center;
font-size: 2rem;

    /* padding: 2px 4px; */
}

.choose {
    color: red;
}

h1 {
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    color: rgb(43, 0, 53);
    background-color: red;
}

#score-btn{
    border-radius: 10px;
    background-color: blue;
    border-right: 3px solid;
}

.game-end-cover{
    border:3px ridge red;
    width: 100%;
    height: 20rem;
    margin: auto;
    background-color:rgb(10, 10, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-weight: 600;
color: red;
-webkit-text-stroke: 1px white ;
animation-name:dropdown;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode:forwards ;
/* display: h; */

}

@keyframes dropdown {
    0%{
        transform: translateY(-30rem);
    }
    50%{
        transform: translateY(2rem);
    }
    100%{
        transform: translatey(-2rem);
    }
}


    @media all and (max-width:460px) {
    
    
    .option {
    font-size: 57%;
    text-align: center;
    }
    
    .extras{
        flex-direction: row !important;
    }
    #question{
        font-size: 1rem;
    }
    .quest{
        font-size: 0.7rem;
    }
    .scrol{
        width: 95%;
    }
    }