body{
    background-image: url(./extras/video-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.container{
    background-color: rgba(212, 212, 215, 0.24);
position: relative;
top: 15px;
    /* border: 1px solid rgba(255, 255, 255, 0.478) !important; */
    box-shadow: 0 0 1px 1px rgb(243, 185, 255);

}

/* @media all and (max-width:500px) */


div{
    box-shadow: 0 0 1px 1px rgba(43, 0, 53, 0.597);
    background-color: rgba(21, 21, 22, 0.07);


    /* border: 1px solid rgba(43,0,53) !important; */
}

h1{
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    color:rgb(43, 0, 53) ;
}

.btn{
border: 1px solid rgb(43, 0, 53);
}
.btn:hover{
    background-color: rgb(43, 0, 53, 0.597);
}
@keyframes roll {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
img{
    animation-name: roll;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

@media all and (){
    
}